//@import "fonts/Abridge";
//@import "fonts/Roboto";
//@import "fonts/Arimo";
//@import "fonts/Lato";
@import "fonts/FiraCode"; // Monospaced
@import "imports";
@import "syntax/syntax-dracula-abridge-switcher";

:root {
  --ff: "Fira Code", "Droid Sans", "Helvetica Neue", "Noto Sans", Helvetica, Arial, sans-serif;
  --fm: "Fira Code", "Droid Sans Mono", "Courier New", Courier, monospace;
}
:root:not(.light) {
  --f1: #f8f8f2;// Font Color Primary
  --f2: #f8f8f2;// Font color Headers
  --c1: #282a36;// Background Color Primary
  --c2: #282a36;// Background Color Secondary
  --c3: #44475a;// Table Rows, Block quote edge, Borders
  --c4: #6272a4;// Disabled Buttons, Borders, mark background
  --a1: #8be9fd;// link color
  --a2: #bd93f9;// link hover/focus color
  --a3: #ff79c6;// link h1-h2 hover/focus color
  --cg: #50fa7b; // ins green, success
  --cr: #ff5555; // del red, errors
}
:root.light {
  --c1: #f8f8f2;// Font Color Primary
  --c2: #f8f8f2;// Font color Headers
  --f1: #282a36;// Background Color Primary
  --f2: #282a36;// Background Color Secondary
  --c3: #44475a;// Table Rows, Block quote edge, Borders
  --c4: #6272a4;// Disabled Buttons, Borders, mark background
  --a1: #6272a4;// link color
  --a2: #bd93f9;// link hover/focus color
  --a3: #ff79c6;// link h1-h2 hover/focus color
  --cg: #50fa7b; // ins green, success
  --cr: #ff5555; // del red, errors
}
